@font-face {
    font-family: 'WebNastaliq';
    src: url('https://raw.githubusercontent.com/ehsan-github/font-IranNastaliq/master/WebFonts/IranNastaliq-Web.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/ehsan-github/font-IranNastaliq/blob/master/WebFonts/IranNastaliq-Web.woff') format('woff'),
         url('https://raw.githubusercontent.com/ehsan-github/font-IranNastaliq/blob/master/WebFonts/IranNastaliq-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;


}